node_modules/
venv/
__pycache__/
*.pyc

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

build/
dist/
*.log

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

backend/tasks.json
backend/users.json 